.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: rgb(177, 203, 225);
  overflow-y: hidden;
}

  
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #256dc0;

  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 4vh;
  }
  
  .label {
    font-size: 0.875rem;
    font-weight: 500;
    color: black;

  }
  
  .select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    transition: border-color 0.2s;
    color: rgb(40, 40, 42);
  }
  
  .select:focus {
    border-color: #3b82f6;
    outline: none;
  }
  
  .date_input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    transition: border-color 0.2s;
    color: rgb(40, 40, 42);
  }
  
  .date-input:focus {
    border-color: #3b82f6;
    outline: none;
  }
  
  
  
  .available_rides_title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.5rem;
    color: #4b4e53;
  }
  
  .no-rides {
    color: #4b4e53;
    margin-top: 0.5rem;
  }
  
  .ride_card {
    display: grid;
    gap: 16px;
    padding: 0;
    list-style: none;
    max-width: 800px;
    margin: 0 auto 48px;
    overflow-y: auto;
    max-height: 500px;
  }
  
  .ride_item {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .ride_item:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
    
  .submit_button {
    padding: 10px;
    margin: 2vh;
    width: fit-content;
    background-color: #5589c4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit_button:hover {
    background-color: #3a79c2;
  }
  
  .submit_button:disabled {
    background-color: #b1c0d8;
    cursor: not-allowed;
  }


  .drawer {
    overflow-y: auto;
  }